<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>: <% jacket.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
   
</head>
<body>
    <%-include ('../partials/_navbar.ejs') %>

    <h2>Details:</h2>
    <p><%= jacket.name %></p>

    <h2>Price</h2>
    <p><%= jacket.Price %></p>

    <h2>Favorites</h2>
    <% if (alreadyFavorited) { %>
        <form action="/jackets/<%= jacket._id %>/favorites?_method=DELETE" method="post">
            <button>Remove from favorites</button>
        </form>
    <% } else { %>
        <form action="/jackets/<%= jacket._id %>/favorite" method="post">
            <button>Add to favorites</button>
        </form>
    <% } %>
</body>
</html>